<html>
<head>
    <title>Add Data</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
 
<body>
    <div id ='log'></div>
    <a href="index.php">Home</a>
    <br/><br/>
    <h1>Add product</h1>
    <!-- <form action="add.php" method="post" name="form1"> -->
        <table>
            <tr> 
                <td>Name</td>
                <td><input type="text" name="name"></td>
            </tr>
            <tr> 
                <td>category</td>
                <td><select id="select" style="width:100%;">
                  <option value="select">select</option>
                </select></td>
            </tr>
            <tr> 
                <td colspan="4" style="text-align:center; height:30px;"><input type="submit" style="
                    background: red;
                    border: 1px solid black;
                    border-radius: 3px;
                    color: #fff;
                    width: 20%;
                    padding: 3px;
                " name="Submit" value="Add"></td>
            </tr>
        </table>
   <!-- </form> -->


    <script>
        $( document ).ready(function() {
             var request = $.ajax({
              url: "http://localhost/corePhp/category/read.php",
               type: "GET",
              success: function(data){
                if(data.length>0){
                    var ddcat = $("#select");
                    $.each( data, function( key, value ) {
                        var option = $("<option />");
                        option.html(value.category_name);
                        option.val(value.category_id);
                        ddcat.append(option);
                    });
                }else{
                    console.log(data);
                }
                
               
              }
            });

           request.done(function(msg) {
              $("#log").html( msg );
            });

            request.fail(function(jqXHR, textStatus) {
              alert( "Request failed: " + textStatus );
            });
        });
        
           
</script>
</body>
</html>